{% extends "common/base.html.twig" %}

{% block layout %}layout layout-sky{% endblock %}

{% block body %}
    <div class="container-fluid theme theme-sky">
        <div class="row theme-header">
            <div class="theme-header-logo"></div>
        </div>

        <div class="row theme-body">
            <div class="col-md-12">
                <div class="row theme-body-top">
                    <div class="col-md-12">
                        <div class="row theme-content{% if showLinks is defined %} show_links{% endif %}">
                            <div class="col-md-12 theme-content-top">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row theme-footer">
            {%- include "freelance/partials/footer.html.twig" -%}
        </div>
    </div>
{% endblock %}
