{% extends "common/base.html.twig" %}

{% block layout %}layout layout-darkwood{% endblock %}

{% block body %}
    <div class="theme theme-darkwood theme-darkwood-v4">
        <header class="theme-darkwood-v4__header">
            <div class="theme-darkwood-v4__sky"></div>
            <div class="theme-darkwood-v4__moon"></div>
            <div class="theme-darkwood-v4__header-inner">
                <div class="theme-header-logo" aria-hidden="true"></div>
                <div class="theme-darkwood-v4__nav-shell">
                    {{ render(controller('App\\Controller\\DarkwoodController::menu', { 'ref': page.page.ref, entity: entity | default(null) })) }}
                </div>
            </div>
        </header>

        <main class="theme-darkwood-v4__main">
            <div class="theme-darkwood-v4__content{% if showLinks is defined %} show_links{% endif %}">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer class="theme-footer theme-darkwood-v4__footer">
            {%- include "darkwood/partials/footer.html.twig" -%}
        </footer>
    </div>
{% endblock %}
