<p id="actions">
    <a id="action_return" href="{{ url('darkwood_play', {'display': display, 'state':'login'}) }}" class="icon left">{{ 'darkwood.play.label.back'|trans }}</a>
</p>

<h2 style="clear: both">
    Contrat de Licence Utilisateur Final (CLUF)
</h2>
<h2>
    Darkwood
</h2>
<p>
    Dernière modification&nbsp;: 10 février, 2015<br class="atl-forced-newline"></p>
<p>
    Darkwood est un jeu vidéo de combat d'arène multi-joueurs en ligne par session gratuit, développé par Mathieu Ledru. Sa filiale détenue à 100%, Darkwood Limited, société de droit française à responsabilité limitée, gère et édite le Jeu dans l'Union Européenne, la Fédération de Belge et divers autres territoires internationaux, et fournit les services afférents. Dans ce Contrat de licence (tel que défini ci-dessous), «&nbsp;<strong>Darkwood</strong>&nbsp;» représente Darkwood Limited, ses licenciés; les pronoms et autres possessifs («&nbsp;<strong>vous</strong>&nbsp;», «&nbsp;<strong>votre</strong>&nbsp;», etc.) représentent l'utilisateur de l'ordinateur sur lequel le Jeu sera ou a été installé et qui a donc accepté le Contrat de licence.&nbsp;<br class="atl-forced-newline"></p>
<p>
    VEUILLEZ LIRE ATTENTIVEMENT CE CONTRAT DE LICENCE UTILISATEUR FINAL (LE «&nbsp;<strong>CONTRAT DE LICENCE</strong>&nbsp;», OU «&nbsp;<strong>CLUF</strong>&nbsp;»). EN CLIQUANT SUR LE BOUTON «&nbsp;ACCEPTER&nbsp;» CI--DESSOUS, EN UTILISANT LE JEU OU EN INSTALLANT LE LOGICIEL CLIENT DU JEU(LE «&nbsp;<strong>LOGICIEL</strong>&nbsp;»), VOUS ACCEPTEZ D'ÊTRE LIÉ PAR LES TERMES DU CONTRAT DE LICENCE, COMME PAR TOUT CONTRAT SIGNÉ DE VOTRE MAIN. SI VOUS N'ACCEPTEZ PAS TOUS LES TERMES DU CONTRAT DE LICENCE, CLIQUEZ SUR LE BOUTON QUI INDIQUE VOTRE REFUS D'ACCEPTER LES TERMES DU CONTRAT DE LICENCE ET N'INSTALLEZ PAS LE LOGICIEL. EN ACCEPTANT CE CONTRAT DE LICENCE, VOUS SIGNIFIEZ ÊTRE UN ADULTE ET AVOIR LA CAPACITÉ JURIDIQUE DE SIGNER UN CONTRAT DANS LA JURIDICTION DONT VOUS DÉPENDEZ.&nbsp;
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>I. LICENCE D'UTILISATION LIMITÉE</strong><br class="atl-forced-newline"></p>
<p>
    Sous réserve du respect des modalités et conditions prévues par le présent Contrat de licence et de votre acceptation de celles-ci, Darkwood vous accorde une licence limitée, non-<del>exclusive et non</del>-transférable, jusqu'à ce que vous ou Darkwood mettiez fin à l'accord, d’installer en interne et d’utiliser exclusivement en tant que composant du Jeu : (i) le Logiciel et les documents explicatifs relatifs («&nbsp;<strong>Documentation</strong>&nbsp;») et (ii) toutes les mises à jour du Logiciel, ses patchs, ses versions ultérieures et toute mise à jour (collectivement les «&nbsp;<strong>Mises à jour</strong>&nbsp;») pour lesquelles une licence vous est accordée par Darkwood. Le Logiciel et le Jeu sont fournis à des fins d’utilisation personnelle, non commerciale et exclusivement à des fins de loisirs et ne sauraient en aucune façon être utilisés dans quelque autre but. À moins que cela ne soit expressément autorisé par Darkwood, vous n’avez pas le droit de vendre, copier, échanger, transférer, publier, attribuer ou distribuer quelque élément que ce soit que vous copiez ou dériviez du Logiciel ou du Jeu. La licence qui vous est accordée ici est libre de droits, à l’exception du droit de concéder une licence sur certains actifs du jeu tels que définis par les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d'Utilisation</a> et qui peuvent être obtenus exclusivement par l'acquisition et le rachat des Riot Points.<br class="atl-forced-newline"></p>
<p>
    <strong>II. CONDITIONS</strong><br class="atl-forced-newline"></p>
<p>
    En installant et en utilisant le Logiciel et en jouant au Jeu, vous reconnaissez avoir lu, compris et accepté les termes du présent Contrat de licence. Vous devez également&nbsp;: (i) lire, comprendre et accepter les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a> définies par Darkwood (les «&nbsp;<strong>Conditions &nbsp;Générales d’Utilisation</strong>&nbsp;»), situées en bas du Site et ajoutées ci-après pour référence&nbsp;; (ii) vous inscrire et créer un compte pour jouer au Jeu (un «&nbsp;<strong>Compte</strong>&nbsp;») (comme expliqué dans les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a>)&nbsp;; et (iii) disposer du matériel et de la connexion Internet requis, tels qu’ils sont décrits sur les sites de Darkwood (dont, mais sans s'y limiter&nbsp;: <a class="external-link" rel="nofollow" href="https://darkwood.com" target="_top">https://darkwood.com</a> et <a class="external-link" rel="nofollow" href="https://darkwood.com" target="_top">https://darkwood.com</a> et les pages Internet liées, tous ci-après collectivement désignés sous le nom «&nbsp;<strong>Site&nbsp;»)</strong>. Ces conditions peuvent changer au fil de l’évolution du Jeu. Vous êtes seul responsable de tous les coûts de connexion à Internet, y compris les équipements, services et coûts de réparation nécessaires pour vous permettre d’accéder au Jeu.&nbsp;<br class="atl-forced-newline"></p>
<p>
    <strong>III. AUTRES RESTRICTIONS DE LA LICENCE</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    La licence qui vous est accordée dans la Section I est soumise aux restrictions définies ci-après, dans la Section III. Toute utilisation du Logiciel en violation des restrictions définies ci-après applicables à la licence est une utilisation non autorisée du Logiciel, en dehors du cadre de la licence qui vous est accordée dans la Section I et sera considérée comme une violation des droits de propriété intellectuelle de Darkwood et ses filiales sur le Logiciel et le Jeu. Vous acceptez, quelles que soient les circonstances, de ne pas&nbsp;:<br class="atl-forced-newline"></p>
<p>
    A. Vendre, louer, prêter, accorder sous licence ou transférer de quelque manière que ce soit le Logiciel&nbsp;; accorder une sûreté ou transférer des reproductions du Logiciel ou du Jeu à un tiers&nbsp;;<br class="atl-forced-newline"></p>
<p>
    B. Copier, photocopier, reproduire, traduire, procéder à des opérations d'ingénierie inverse, déduire le code-source, décompiler ou désassembler le Logiciel ou le Jeu en tout ou partie ; ni créer des œuvres dérivées ou inspirées du Jeu, en tout ou partie ; les seules exceptions à cette règle sont : (i) la création d'une (1) copie du Logiciel et de la Documentation à des fins d'archivage personnel uniquement et (ii) l'utilisation de logiciels tiers de capture de vidéos ou d’images afin d’extraire du Logiciel des fichiers audio, vidéos ou des images à des fins personnelles et non commerciales, telles que définies dans les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d'Utilisation</a> et toutes les politiques de Darkwood relatives aux créations audio ou vidéo&nbsp;;<br class="atl-forced-newline"></p>
<p>
    C. Modifier ou permettre la modification de tout fichier faisant partie du Logiciel, à moins d'y être expressément autorisé par Darkwood&nbsp;;<br class="atl-forced-newline"></p>
<p>
    D. Utiliser ou permettre l’utilisation par toute personne ou entité&nbsp;du Logiciel ou du Jeu à des fins commerciales, y compris, mais sans s'y limiter : (i) participer au Jeu en échange d'un paiement (exemple : services de «&nbsp;gain de niveaux&nbsp;»), (ii) vendre un objet du Jeu en dehors du Jeu ou un Compte de jeu, sauf si ces transactions sont autorisées par Darkwood et menées au travers des services proposés par Darkwood&nbsp;;<br class="atl-forced-newline"></p>
<p>
    E. Utiliser tout logiciel tiers non--autorisé interagissant avec le Logiciel de quelque manière que ce soit, y compris, mais sans s'y limiter, des «&nbsp;modules&nbsp;», «&nbsp;piratages&nbsp;», «&nbsp;tricheries&nbsp;», «&nbsp;scripts&nbsp;», «&nbsp;bots&nbsp;», «&nbsp;trainers&nbsp;» et tout programme automatique, ou tout logiciel tiers qui intercepte, imite, redirige toute communication entre le Logiciel et Darkwood, ou qui collecte des informations sur le Jeu en lisant des zones de mémoire utilisées par le Logiciel pour stocker des informations sur le Jeu.<br class="atl-forced-newline"></p>
<p>
    <strong>IV. DROITS DE PROPRIÉTÉ</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    Tous les droits et titres associés au Jeu et au Logiciel et tous leurs contenus associés (y compris, mais sans s’y limiter, les Comptes, les codes informatiques, les titres, les objets, les runes, les personnages, les noms de personnage, les lieux, les noms de lieux, les histoires, les scénarios, les dialogues, les répliques, les œuvres d’art, les graphismes, les design d’architecture ou de paysage, les animations, les sons, les compositions musicales et les enregistrements, les Riot Points, les travaux audiovisuels, les apparences de personnage et les méthodes de fonctionnement) sont la propriété de Darkwood ou de ses concédants. Le Logiciel et le Jeu ainsi que tout le contenu qui leur est associé sont protégés par le droit irlandais et américain ainsi que par les traités internationaux sur les droits de propriété intellectuelle et la propriété intellectuelle le cas échéant. Darkwood et ses concédants possèdent et conservent tous les droits liés au Logiciel et au Jeu, y compris (mais sans s’y limiter) le droit exclusif de créer des œuvres dérivées du Logiciel et du Jeu, et vous acceptez de ne pouvoir créer aucune œuvre dont vous seriez l’auteur fondée sur le Jeu, sauf si Darkwood vous y autorise expressément. Vous reconnaissez et acceptez que vous n’avez aucun intérêt, financier ou autre, dans aucun élément ou contenu du Jeu. Vous reconnaissez et acceptez également que vous n’avez aucun droit de propriété relativement à votre Compte et que tous les droits relatifs au Compte appartiennent à Darkwood pour l'éternité pour son seul bénéfice. Veuillez consulter les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a> pour un aperçu complet des droits de propriété de Darkwood.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>V. CODE DE CONDUITE</strong><br class="atl-forced-newline"></p>
<p>
    En jouant au Jeu et en utilisant le Logiciel, vous acceptez d’obéir à toutes les lois et règlements applicables. Vous acceptez également d’agir en conformité avec certaines règles additionnelles qui régissent votre utilisation du Jeu (le «&nbsp;<strong>Code de Conduite</strong>&nbsp;»). Le Code de Conduite n'est en aucun cas exhaustif et Darkwood se réserve le droit de modifier à tout moment ce Code de conduite et de prendre des mesures disciplinaires appropriées, y compris mettre fin au Compte et l'effacer, pour protéger l'intégrité et l'esprit du Jeu, même si le comportement répréhensible qui en est la cause n'est pas spécifiquement listé dans ce document. En plus de ce Code de conduite, référez-vous au <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/articles/code" target="_top">Code de l’Invocateur</a> pour plus de renseignements concernant le comportement exemplaire à adopter dans le Jeu. Voici quelques exemples de comportements inacceptables qui provoqueront l'application de mesures disciplinaires&nbsp;:<br class="atl-forced-newline"></p>
<p>
    A. Usurper l’identité d’une personne physique, une personne ou d’une entité, y compris d’un employé de Darkwood, ou communiquer de telle façon que l'on puisse croire que la communication vient de Darkwood&nbsp;;<br class="atl-forced-newline"></p>
<p>
    B. Publier dans le cadre du Jeu des informations qui permettent d'identifier personnellement un utilisateur du Jeu, y compris vous-même&nbsp;;<br class="atl-forced-newline"></p>
<p>
    C. Harceler, suivre ou menacer un autre utilisateur dans le Jeu&nbsp;;<br class="atl-forced-newline"></p>
<p>
    D. Retirer, modifier ou dissimuler des droits de propriété intellectuelle, marques, brevets ou autres informations légales propriété de Darkwood contenues dans le Jeu et/ou le Logiciel. Vous ne pouvez pas non plus transmettre des contenus qui violent ou enfreignent les droits de tiers, y compris, mais sans s’y limiter, des brevets, marques, secrets commerciaux, droits de propriété intellectuelle, droit à l’image, droits personnels ou d’autres droits propriétaires ou non-propriétaires&nbsp;;<br class="atl-forced-newline"></p>
<p>
    E. Transmettre ou communiquer tout contenu qui, de l’avis discrétionnaire et exclusif de Darkwood, est considéré offensant, y compris, mais sans s'y limiter, tenir des propos illégaux, blessants, menaçants, abusifs, harcelants, diffamatoires, vulgaires, obscènes, sexuellement explicites ou considérés racistes, discriminatoires sur le plan ethnique ou plus généralement inadmissibles&nbsp;;<br class="atl-forced-newline"></p>
<p>
    F. Transmettre ou faciliter la transmission de tout contenu pouvant abriter un virus, des données corrompues, des chevaux de Troie, des logiciels permettant la reconnaissance des touches utilisées, des vers, des bombes à retardement, des logiciels d’annulation ou de tout autre programme de routine informatique visant à infliger des dommages et / ou engendrant un tel résultat, à interférer négativement, intercepter ou extraire subrepticement, explorer, analyser ou extraire tout système, donnée ou information personnelle&nbsp;;<br class="atl-forced-newline"></p>
<p>
    G. Spammer la messagerie, pour des raisons personnelles ou commerciales, ou empêcher le bon déroulement des conversations en publiant plusieurs fois des messages de nature similaire&nbsp;;<br class="atl-forced-newline"></p>
<p>
    H. Participer à une action qui, de l’avis discrétionnaire de Darkwood, «&nbsp;exploite&nbsp;» d'un élément non répertorié du Jeu pour bénéficier d'un avantage injuste sur les autres joueurs&nbsp;;<br class="atl-forced-newline"></p>
<p>
    I. Participer à une action qui, de l’avis exclusif et discrétionnaire de Darkwood, escroque un autre utilisateur du Jeu, y compris, mais sans s'y limiter, en utilisant les techniques de «&nbsp;scamming&nbsp;» ou de «&nbsp;d’attaque d’ingénierie sociale&nbsp;»&nbsp;;<br class="atl-forced-newline"></p>
<p>
    J. Accéder ou tenter d’accéder à des zones du Jeu ou à des serveurs du Jeu qui n’ont pas été rendus disponibles au public&nbsp;;<br class="atl-forced-newline"></p>
<p>
    K. Vous déconnecter, partir ou quitter le Jeu lors d’une session de Jeu. Le système automatique <strong>Leaverbuster</strong>® de Darkwood surveille ces données et peut bannir temporairement les joueurs qui ont pour habitude de quitter fréquemment les parties en cours. La durée des bannissements temporaires augmente au fil des infractions constatées pour un Compte spécifique.<br class="atl-forced-newline"></p>
<p>
    L. Vous ne pouvez pas choisir un nom d'Invocateur qui indique à tort un lien avec Darkwood, contient des informations permettant l’indentification d’une personne, viole les droits propriétaires ou non-propriétaires d'un tiers, qui sera considéré offensant, diffamatoire, vulgaire, obscène, sexuellement explicite, considéré raciste, discriminatoire sur le plan ethnique ou plus généralement inacceptable. Vous ne pouvez pas choisir une orthographe alternative ou une coquille délibérée permettant de contourner ces règles. Darkwood peut modifier tout nom qui, de l’avis discrétionnaire de Darkwood, violerait cette disposition, sans pour cela avoir à vous avertir, et peut également prendre des mesures disciplinaires pouvant aller jusqu'à la résiliation de votre Compte en cas de récidive.<br class="atl-forced-newline"></p>
<p>
    <strong>VI. CONSENTEMENT A LA SURVEILLANCE</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    Lorsque vous utilisez le Logiciel, le Logiciel peut surveiller la mémoire vive de votre ordinateur (RAM) afin de détecter la présence de logiciels tiers interdits dans la Section III.E qui pourraient interagir avec le Logiciel et/ou le Jeu. Si le Logiciel détecte un programme tiers de ce type, cette information pourra être transmise à Darkwood, ainsi que le nom de votre Compte, votre adresse Internet (IP), des détails concernant le logiciel tiers interdit détecté, l'heure et la date de détection du logiciel tiers interdit, ainsi que les spécifications matérielles et les caractéristiques de performances de votre ordinateur. Aucune autre information sur vous ou votre ordinateur ne sera communiquée à Darkwood par l'intermédiaire du Logiciel. Si le Logiciel détecte l'utilisation d'un programme tiers interdit, il pourra être mis fin à votre accès au Jeu, que vous en soyez averti ou non.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>VII. MISES À JOUR ET MODIFICATIONS</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>A.</strong> <strong><ins>Le Logiciel et le Jeu</ins></strong><ins>.</ins> Darkwood peut proposer des Mises à jour du Logiciel qui doivent être installées pour que vous puissiez continuer à jouer au Jeu. Par la présente, vous autorisez Darkwood à installer à distance ces Mises à jour sur votre ordinateur sans devoir vous en avertir à chaque fois que vous lancez le Logiciel ou jouez au Jeu.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>B.</strong> <strong><ins>Contrat de licence.</ins></strong> Darkwood se réserve le droit, à sa seule et entière discrétion, de réviser, mettre à jour, changer, modifier, ajouter, compléter ou supprimer certains termes du présent Contrat de licence au fur et à mesure de l’évolution du Jeu et de la loi ; étant précisé qu’aucune modification substantielle ainsi apportée au présent Contrat de licence n’aura d’effet rétroactif. De telles modifications seront applicables au moment de votre acceptation. Si de futures modifications apportées à ce Contrat de licence vous semblent inacceptables ou ne vous permettent plus de respecter le présent Contrat de licence, ou si à tout moment vous n'êtes plus d'accord avec quelque partie que ce soit de la version actuelle du Contrat de licence, nous nous réservons le droit de résilier le présent Contrat de licence conformément aux dispositions de la Section VIII. Vous pouvez consulter la version la plus à jour du présent Contrat de licence en cliquant sur le lien «&nbsp;CLUF&nbsp;» affiché en bas du Site. Si le Logiciel doit être mis à jour lorsque vous le lancez pour accéder au Jeu, le Contrat de licence vous sera également soumis pour approbation ou refus.&nbsp;<br class="atl-forced-newline"></p>
<p>
    <strong>VIII. RESILIATION DU CONTRAT DE LICENCE</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    Le présent Contrat de licence est en vigueur jusqu'à sa résiliation. Vous pouvez résilier ce Contrat de licence à tout moment et pour n’importe quelle raison en prévenant Darkwood de votre intention de le résilier. Darkwood peut résilier le présent Contrat de licence à tout moment, avec ou sans raison. La résiliation par Darkwood prendra effet à compter du moment où elle vous sera notifiée, à la résiliation ou suppression de votre Compte ou si Darkwood décide de définitivement cesser d’éditer ou de proposer le Jeu. En cas de résiliation, par vous ou par Darkwood, la licence qui vous est accordée dans la Section I prendra fin immédiatement et vous devrez immédiatement et définitivement supprimer le Logiciel de la mémoire permanente de votre ordinateur et détruire toutes les copies du Logiciel en votre possession.<br class="atl-forced-newline"></p>
<p>
    <strong>IX. INTERRUPTION DU SERVICE</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    Le Jeu est un jeu «&nbsp;en ligne&nbsp;» qui ne peut se jouer que via Internet, au moyen d’un service fourni par ou pour le compte de Darkwood. Vous reconnaissez et acceptez que Darkwood à sa seule et entière discrétion puisse arrêter de fournir des services d'accès ou de support au Jeu, à tout moment, avec ou sans raison. Vous acceptez également que Darkwood puisse changer, modifier, suspendre, «&nbsp;diminuer&nbsp;», annuler ou restreindre votre accès à toute fonction ou partie du Jeu à tout moment, sans avertissement préalable, et sans recours possible de votre part. En accord avec les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a>, vous reconnaissez n'avoir aucun intérêt, financier ou autre, relativement à toute fonction ou tout contenu du Jeu ou du Logiciel.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>X. CONTRÔLE DES EXPORTATIONS</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    Le Logiciel est soumis à toutes les restrictions applicables aux exportations. Vous devez vous conformer à toutes les lois, règlements et restrictions sur les importations et exportations des États--Unis ou de l'Irlande et/ou de toute agence ou autorité gouvernementale étrangère relatifs au Logiciel et à son utilisation. Le Logiciel ne peut pas être réexporté vers, téléchargé ou exporté de toute autre manière, &nbsp;installé par un citoyen ou un résident d'un pays envers lequel les USA ou l'Irlande ont déclaré un embargo, ou à quiconque apparaît sur la liste des Ressortissants Spécialement Désignés (« Specially Designated Nationals ») du Trésor Américain ou sur la Liste des Interdits de Commande (« Table of Denial Orders ») du Ministère Américain du Commerce. Vous certifiez et garantissez ne pas être situé dans l'un de ces pays, ni sous le contrôle d'un citoyen ou résident d'un pays de l'une de ces listes.<br class="atl-forced-newline"></p>
<p>
    <strong>XI. EXCLUSION DE GARANTIE</strong><br class="atl-forced-newline"></p>
<p>
    LE JEU (Y COMPRIS MAIS SANS S’Y LIMITER LE LOGICIEL ET LA DOCUMENTATION) VOUS EST FOURNI «&nbsp;EN L'ÉTAT&nbsp;» ET «&nbsp;TEL QUE DISPONIBLE&nbsp;» ET RIOT GAMES N'ACCORDE AUCUNE GARANTIE OU DÉCLARATION D'AUCUNE SORTE (EXPRESSE OU IMPLICITE, QUELLE QU'EN SOIT L'ORIGINE). DANS TOUTE LA MESURE PERMISE PAR LA LOI APPLICABLE, RIOT GAMES EXCLUT TOUTE GARANTIE EXPRESSE OU IMPLICITE QUI POURRAIT S’APPLIQUER AU JEU OU AU LOGICIEL, Y COMPRIS, MAIS SANS S'Y LIMITER, LES GARANTIES IMPLICITES DE TITRE, DE NON-CONTREFACON, DE QUALITÉ DE LA MARCHANDISE, D'ADÉQUATION À UN USAGE PARTICULIER, ET LES GARANTIES QUI PEUVENT NAITRE D’UNE TRANSACTION,, DE PERFORMANCES, DU FONCTIONNEMENT, DE L'USAGE COMMERCIAL, OU TOUTE AUTRE GARANTIE&nbsp; TELLE QUE LA FIABILITÉ, LA QUALITÉ DE TOUT CONTENU OU DE TOUTE INFORMATION CONTENUS DANS LE JEU ET/OU LE LOGICIEL. RIOT GAMES NE CONSENT AUCUNE GARANTIE QUE LE LOGICIEL ET/OU LE JEU SONT SANS ERREUR, FONCTIONNERONT SANS INTERRUPTION OU AUTRE PROBLÈME, SONT EXEMPTS DE VIRUS OU DE TOUT AUTRE COMPOSANT DOMMAGEABLE OU QUE TOUT PROBLÈME SERA RÉSOLU. VOUS ASSUMEZ TOUTE LA RESPONSABILITÉ LIÉE AU CHOIX DU JEU ET/OU DU LOGICIEL POUR PARVENIR AUX RÉSULTATS ESPÉRÉS, AINSI QU’À SON INSTALLATION ET SON UTILISATION EN VUE D'OBTENIR LES RÉSULTATS OFFERTS PAR LE JEU ET/OU LOGICIEL.&nbsp;<br class="atl-forced-newline"></p>
<p>
    AFIN D’EVITER TOUTE AMBIGUITE, RIOT GAMES N’EXCLUT PAS LES GARANTIES RELATIVES À LA VIOLATION INTENTIONNELLE DES TERMES DU CONTRAT. L'EXCLUSION DE GARANTIE N'AFFECTE PAS LA LIMITATION DE RESPONSABILITÉ TELLE QUE DÉFINIE CI-APRÈS.<br class="atl-forced-newline"></p>
<p>
    Certains États et juridictions ne permettant pas l’exclusion de garanties implicites, il est possible que cette Section ne pas puisse vous être applicable, en tout ou partie.&nbsp;
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>XII. INDEMNISATION</strong><br class="atl-forced-newline"></p>
<p>
    VOUS ACCEPTEZ PAR LA PRÉSENTE D'INDEMNISER ET DE DÉFENDRE RIOT GAMES DE ET CONTRE TOUTE RÉCLAMATION OU PROCÈS, DOMMAGES, PERTES, RESPONSABILITÉS ET FRAIS (Y COMPRIS LES FRAIS D'AVOCATS) RÉSULTANT DIRECTEMENT OU INDIRECTEMENT D'UNE FAUTE DE VOTRE PART LORS DE VOTRE UTILISATION CORRECTE OU ABUSIVE DU JEU ET/OU DU LOGICIEL, OU TOUTE VIOLATION DE VOTRE PART DES DISPOSITIONS DU PRÉSENT CONTRAT DE LICENCE. Darkwood se réserve le droit, à ses frais et à sa seule et entière discrétion, d’assumer la défense et le contrôle de tout élément sujet à une indemnisation de votre part, auquel cas vous coopérerez avec Darkwood pour l’élaboration du système de défense.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>XIII. LIMITATION DE RESPONSABILITÉ</strong><br class="atl-forced-newline"><br class="atl-forced-newline"></p>
<p>
    EN AUCUNE CIRCONSTANCE ET QUELLE QUE SOIT LA THÉORIE LÉGALE APPLICABLE, Y COMPRIS CONTRACTUELLE, DELICTUELLE (Y COMPRIS PAR NÉGLIGENCE) OU AUTRE, RIOT GAMES NE POURRA VOIR SA RESPONSABILITE VIS-A-VIS DE VOUS OU DE TOUTE AUTRE PERSONNE ETRE ENGAGEE POUR TOUS DOMMAGES INDIRECTS, INCIDENTS, ACCESSOIRES, SPÉCIAUX, EXEMPLAIRES OU PUNITIFS, QUELS QU'ILS SOIENT, Y COMPRIS, MAIS SANS S'Y LIMITER, LES DOMMAGES POUR ARRÊT DE TRAVAIL, PERTES DE DONNÉES, ATTEINTE A l’IMAGE, OU PERTE DE PROFITS), OU POUR TOUT DOMMAGE RÉSULTANT D’UNE FAUTE GRAVE, Y COMPRIS, MAIS SANS S’Y LIMITER, LES ARRÊTS DE TRAVAIL, PANNES INFORMATIQUES OU DYSFONCTIONNEMENTS, OU POUR TOUT AUTRE DOMMAGE OU PERTE COMMERCIALE LIÉS À VOTRE UTILISATION CORRECTE OU ABUSIVE DU LOGICIEL ET/OU DU JEU, MÊME SI RIOT GAMES CONNAISSAIT OU AURAIT DÛ CONNAÎTRE LA POSSIBILITE DE TELS DOMMAGES. PAR AILLEURS, RIOT GAMES NE PEUT ÊTRE TENU RESPONSABLE DE TOUTE PERTE OU DOMMAGE QUANT À VOS PERSONNAGES, BIENS VIRTUELS (ARMES, SORTS, ARMURES, PEAUX, ETC.), MONNAIE VIRTUELLE, RIOT POINTS, COMPTES, STATISTIQUES, CLASSEMENTS, RANGS OU INFORMATIONS DE PROFIL STOCKÉS PAR LE JEU. RIOT GAMES NE PEUT ÊTRE TENU POUR RESPONSABLE DE TOUTE INTERRUPTION DE SERVICE, Y COMPRIS, MAIS SANS S’Y LIMITER, LES INTERRUPTIONS DE SERVICE DE FOURNISSEURS D’ACCES A INTERNET, LES DYSFONCTIONNEMENTS DE LOGICIEL OU DE MATÉRIEL INFORMATIQUES OU TOUT AUTRE ÉVÉNEMENT QUI POURRAIT ENTRAÎNER UNE PERTE DE DONNÉES OU UNE INTERRUPTION DE SERVICE. EN AUCUN CAS RIOT GAMES NE POURRA ÊTRE CONSIDEREE RESPONSABLE DE DOMMAGES POUR UN MONTANT SUPÉRIEUR À CELUI QUE VOUS AVEZ PAYÉ LORS DE TRANSACTIONS ÉVENTUELLES LIÉES AU JEU DANS LES SIX (6) MOIS PRÉCÉDANT L'ÉVÉNEMENT DÉCLENCHEUR DU LITIGE.<br class="atl-forced-newline"></p>
<p>
    Sous réserve des limitations de responsabilité mentionnées ci-dessus, RIEN NE PEUT DANS CE CONTRAT LIMITER LA RESPONSABILITÉ DE Darkwood (i) dans le cas d'atteintes à la vie, à l'intégrité physique ou à la santé dus à la violation de ses obligations par Darkwood, que ce soit intentionnellement ou par simple négligence, par un de ses représentants légaux ou une personne chargée d'exécuter ses obligations, ou (ii) dans le cas de dommages occasionnés par une faute grave de négligence entrainant une violation de ses obligations contractuelles, ou une violation intentionnelle par Darkwood ou un de ses représentants légaux ou de toute personne à qui Darkwood a confié l'exécution d'une obligation&nbsp;; (iii) dans les cas de faute intentionnelle ; (iv) dans le cas de dommages résultant de négligence dans l'exécution d'une obligation essentielle à l'exécution de son contrat («&nbsp;Obligations essentielles&nbsp;») dans la mesure où cette obligation est classique et prévisible ; (v) pour toute garantie qui vous est accordée par Darkwood ; et (vi) lorsque sa responsabilité du fait des produits défectueux est engagée par l’application de la législation en la matière dans une juridiction donnée.<br class="atl-forced-newline"></p>
<p>
    Certains pays ou juridictions ne permettent pas de limiter ou d’exclure la responsabilité. Le cas échéant, la responsabilité de Darkwood sera limitée autant que la loi applicable le permet.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>XIV. REMÈDES ÉQUITABLES</strong><br class="atl-forced-newline"></p>
<p>
    Vous reconnaissez et acceptez que Darkwood subirait un préjudice irréparable si le présent Contrat de licence n’était pas expressément exécuté. En conséquence, en plus des réparations pécuniaires et de toutes les autres réparations prévues par la loi, vous acceptez que Darkwood puisse demander l’exécution expresse des obligations contractuelles ou tout autre injonction, sans limitation, ou autre sureté, ou preuve de dommages, en tant que recours à toute violation ou menace de violation du présent Contrat de licence. Par ailleurs, dans le cas où une action ou procédure administrative ou légale devrait être engagée à l'initiative de l'une ou l'autre partie dans le cadre du présent Contrat de licence et conformément à la Section XV ci-après, la partie reconnue dans ses droits pourrait réclamer à l’autre partie le remboursement de tous les frais, honoraires d’avocats et tout autre dépense &nbsp;résultant de son action en justice ou de la procédure judiciaire.
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>XV. NÉGOCIATIONS</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong><ins>A. Négociations</ins></strong>. Les recours en justice peuvent être onéreux et chronophages pour les deux parties. Afin d’accélérer la résolution des conflits et de réduire le coût de tout litige ou réclamation dans l’application du présent Contrat de licence («&nbsp;<strong>Recours</strong>&nbsp;»), Darkwood et vous-même acceptez d’essayer préalablement de négocier de façon informelle au sujet de tout Recours pendant au moins trente (30) jours (à l’exception des Recours spécifiquement exclus au titre de la Section XV.B ci-après) avant d’entamer une action en justice. Darkwood enverra sa notification à l'adresse présente dans ses archives, dans la mesure où vous avez fourni des coordonnées complémentaires à Darkwood (en participant à une opération promotionnelle ou à une enquête, ou en contactant un représentant du service clientèle). Dans le cas contraire, Darkwood enverra sa notification à l'adresse électronique associée à votre Compte. Vous enverrez votre notification à Darkwood, Ltd., Paris: Legal Department. Veuillez noter que cette procédure informelle de résolution des litiges ne suspend pas les délais légaux au terme desquels une action peut être engagée et/ou prescrite.
</p>
<p>
    <ins>B.</ins> <ins>Exceptions aux négociations</ins>. Dans la mesure permise par la loi applicable, Darkwood et vous-même acceptez que les Recours suivants ne sont pas concernés par l'article relatif aux négociations&nbsp;: (i) tout Recours relatif à la mise en œuvre, à la protection ou ayant trait à la validité de tout droit de propriété intellectuelle dont vous êtes titulaire ou dont Darkwood est titulaire, ; (ii) tout Recours relatif ou résultant d’allégations de vol, piratages, intrusion dans la vie privée ou utilisation non autorisée ; et (iii) tout recours en compensation équitable. Dans la mesure du possible, vous acceptez par ailleurs de ne pas présenter de recours collectif ou par le bais d’un procureur général privé. De surcroît, chaque partie peut intenter une action individuelle en règlement des petits litiges auprès de tribunaux dont c'est la juridiction.&nbsp;
</p>
<p>
    <ins>C. Loi en vigueur</ins>. A moins qu’il n’en soit stipulé autrement dans le présent Contrat de licence, le présent Contrat de licence sera soumis au droit irlandais, sans considération des règles de résolution de conflits de loi. L’application de la Convention des Nations Unies sur la Vente Internationale de Biens est expressément exclue. D’autres lois peuvent être applicables si vous accédez au Jeu depuis un autre territoire que l'Irlande. Dans ce cas, les lois locales ne pourront s’appliquer au présent Contrat de licence que dans la mesure de ce qui est strictement requis par la juridiction concernée et le présent Contrat de licence devra être interprété afin de respecter le plus possible les termes et dispositions du présent Contrat de licence. Il vous appartient de respecter les lois locales si, et dans la mesure où elles sont applicables. La loi sur la Protection du Consommateur de Nouvelle-Zélande de 1993 (the New Zealand Consumer Guarantees Act) («&nbsp;l'Acte&nbsp;») peut s’appliquer au Jeu si vous utilisez le Jeu depuis la Nouvelle Zélande et si vous êtes résident de ce pays. Sous réserve de tout élément contraire du présent Contrat de licence, si l’Acte vous est applicable, il est possible que vous bénéficiez de droits ou Recours additionnels prévus par l’Acte, ou bien des droits et Recours qui remplacent ceux indiqués dans le Contrat de licence. Si vous accédez au Jeu depuis l'Union Européenne et si vous y êtes résident, et que vous êtes consommateur, il est possible que bénéficiez de droits impératifs et de Recours légaux additionnels ou autres que ceux stipulés par ce Contrat de licence.<br class="atl-forced-newline"></p>
<p>
    <strong>XVI. DIVERS</strong><br class="atl-forced-newline"></p>
<p>
    Le présent Contrat de licence représente l'intégralité de l’accord entre vous et Darkwood sur le sujet et remplace tout accord ou contrat antérieur ou simultané entre vous et Darkwood&nbsp;; sous réserve cependant que le présent Contrat de licence coexiste avec et ne remplace pas les <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a> ou la <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/privacy" target="_top">Politique de confidentialité</a>. Dans les cas où les termes du présent Contrat de licence seraient en contradiction avec ceux des <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a>, les provisions des <a class="external-link" rel="nofollow" href="https://darkwood.com/fr/legal/termsofuse" target="_top">Conditions Générales d’Utilisation</a> priment sur ceux du présent contrat. Le Jeu est édité par Darkwood en Irlande. Les utilisateurs qui choisissent d’accéder au Jeu depuis d’autres territoires que l'Irlande, le font de leur propre initiative et il leur appartient de respecter les lois locales applicables. Le choix de Darkwood de ne pas faire appliquer telle ou telle disposition du présent Contrat de licence ne constitue en rien une renonciation pour le présent ou pour l'avenir aux termes ou dispositions du présent Contrat de licence et n'affecte en rien le droit de toutes les parties de s'en prévaloir ultérieurement. Le fait que Darkwood ne fasse pas appliquer strictement une disposition, condition ou obligation liée au présent Contrat de licence ne signifie pas que Darkwood renonce à l’appliquer strictement à l’avenir. Si une disposition du présent Contrat de licence est réputée invalide ou inapplicable pour quelque raison que ce soit, elle sera interprétée au plus près de son sens et le reste du Contrat de licence resterait pleinement applicable en l’état. Si toutefois la provision concernée ne pouvait être modifiée ou interprétée, elle serait considérée comme inexistante et n’affecterait pas la validité ou la force des autres dispositions et termes du présent Contrat de licence. Les réserves indiquées dans les sections IV, ainsi que dans les Sections X à XVI, restent en vigueur même après la résiliation du présent Contrat de licence. Si vous avez des questions à propos de ces termes et dispositions, ou si vous souhaitez contacter Darkwood pour toute autre raison, merci de contacter le support de Darkwood en envoyant un email à l'adresse <a class="external-link" rel="nofollow" href="mailto:mathieu@darkwood.fr" target="_top">mathieu@darkwood.fr</a><ins>.</ins>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>&nbsp;</strong>
</p>
<p>
    <strong>VOUS RECONNAISSEZ PAR LA PRÉSENTE AVOIR PRIS CONNAISSANCE ET AVOIR COMPRIS LE PRECEDENT CONTRAT DE LICENCE UTILISATEUR FINAL ET VOUS ACCEPTEZ, EN CLIQUANT SUR LE BOUTON «&nbsp;ACCEPTER&nbsp;» ET/OU EN INSTALLANT LE LOGICIEL ET EN JOUANT AU JEU, D’ÊTRE LIÉ AUX TERMES ET MODALITES DU PRÉSENT CONTRAT DE LICENCE.</strong>
</p>
