{% extends ""~ site_ref ~"/base.html.twig" %}

{% block content %}

<h1>{{ page.title }}</h1>

<h2>EDITION DU SITE INTERNET</h2>
<p>
Le site Darkwood (ci-après "le Site"), accessible à l’adresse <a href="https://darkwood.fr">https://darkwood.fr</a> est édité par la société <b>GEAI - Darkwood</b> (ci-après "l'Editeur"), Association au capital de 1 euros, dont le siège social est situé 1 Rue René Coty, 91330 Yerres, France (0678373234, <a href="mailto:mathieu@darkwood.fr">mathieu@darkwood.fr</a>).
RCS 433545357 VILLE RCS
</p>

<b>« Darkwood »</b> est juridiquement hébergé par Couveuse GEAI (Groupement des Entrepreneurs Accompagnés Individuellement)<br />
<p>
18, rue du Faubourg du Temple 75011 PARIS<br />
Tel : 01 43 55 09 48<br />
<b>SIRET</b> : 433 545 357 00025<br />
<b>Code APE</b> : 9499Z<br />
<b>N° de TVA intracommunautaire</b> : FR 40433545357
</p>

<h2>REDACTION DU SITE INTERNET</h2>
<p>
L’édition du site <a href="https://darkwood.fr">https://darkwood.fr</a> est assurée par la Société « Darkwood » est juridiquement hébergée par Couveuse GEAI (Groupement des Entrepreneurs Accompagnés Individuellement) « Darkwood », immatriculée au RCS de Paris sous le numéro 433 545 357 dont le siège social est situé au 18, rue du Faubourg du Temple 75011 PARIS, numéro de téléphone 01 43 55 09 48, adresse e-mail : <a href="mailto:mathieu@darkwood.fr">mathieu@darkwood.fr</a>.<br />
<br />
N° de TVA intracommunautaire : FR 40433545357<br />
<br />
Directeur de la publication : Mathieu Ledru<br />
Contact : 06 78 37 32 34 ; <a href="mailto:mathieu@darkwood.fr">mathieu@darkwood.fr</a>
</p>

<h2>REDACTION DES MENTIONS LEGALES</2>
<p>
Dénomination sociale : Captain Contrat<br />
Adresse siège social : 12 rue saint-fiacre, 75002 Paris<br />
Site internet : <a href="www.captaincontrat.com"www.captaincontrat.com</a>
</p>

<h2>HEBERGEUR DU SITE INTERNET</h2>
<p>
Le site Darkwood est hébergé par Amazon Web Services, SASU au capital de 2 173 800 euros, dont le siège social est situé 52 Rue du Port, 92000 Nanterre, France, joignable par le moyen suivant : https://aws.amazon.com/fr/premiumsupport/knowledge-center/aws-phone-support/.</br>
Le stockage de l’ensemble des données est exclusivement réalisé sur les centres de données de la société Amazon Web Services EMEA SARL localisés dans des Etats membres de l’Union Européenne.
</p>

<h2>RESPECT DE LA PROPRIÉTÉ INTELLECTUELLE</h2>
<p>
Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner le Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</br />
Ils sont la propriété pleine et entière de l'Editeur ou de ses partenaires, sauf mentions particulières. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'Editeur, sont strictement interdites. Le fait pour l'Editeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.<br />
Seule l'utilisation pour un usage privé dans un cercle de famille est autorisée et toute autre utilisation est constitutive de contrefaçon et/ou d'atteinte aux droits voisins, sanctionnées par Code de la propriété intellectuelle.<br />
La reprise de tout ou partie de ce contenu nécessite l'autorisation préalable de l'Editeur ou du titulaire des droits sur ce contenu.<br />
<br />
Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site <a href="https://darkwood.fr">https://darkwood.fr</a> , sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.<br />
<br />
Pour plus d’informations, se reporter aux C.G.U. du site <a href="https://darkwood.fr">https://darkwood.fr</a> accessible à la rubrique « C.G.U. »
</p>

<h2>LIENS HYPERTEXTES</h2>
<p>
Le Site peut contenir des liens hypertexte donnant accès à d'autres sites web édités et gérés par des tiers et non par l'Editeur. L'Editeur ne pourra être tenu responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.<br />
La création de liens hypertexte vers le Site ne peut être faite qu'avec l'autorisation écrite et préalable de l'Editeur.
</p>

<h2>ACCÈS AU SITE</h2>
<p>
Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension des services le site <a href="https://darkwood.fr">https://darkwood.fr</a> ne saurait être tenu responsable.<br />
</p>
<h2>NOUS CONTACTER</h2>
<p>
Veuillez utiliser le formulaire de contact présent sur le site : <a href="https://darkwood.fr/contact">https://darkwood.fr/contact</a>
</p>
<h2>COLLECTE DES DONNÉES</h2>
<p>
Le site assure à l’Utilisateur une collecte et un traitement d’informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.<br />
<br />
En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition de ses données personnelles. L’Utilisateur exerce ce droit :
</p>
<h2>COOKIES</h2>
<p>
L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.<br />
<br />
En naviguant sur le site, il les accepte.<br />
<br />
Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.<br />
</p>
<h2>PROPRIÉTÉ INTELLECTUELLE</h2>
<p>
Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site <a href="https://darkwood.fr">https://darkwood.fr</a> , sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.<br />
<br />
Réalisé sur <a href="https://www.legalplace.fr">https://www.legalplace.fr</a><br />
<br />
Pour plus d’informations, se reporter aux C.G.U. du site <a href="https://darkwood.fr">https://darkwood.fr</a> accessible à la rubrique « C.G.U. »<br />
</p>

<h2>Politique de confidentialité</h2>
<p>
Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par [ « Darkwood » , juridiquement hébergée par Couveuse GEAI (Groupement des Entrepreneurs Accompagnés Individuellement) 18, rue du Faubourg du Temple, 75011 PARIS,Tel : 01 43 55 09 48 ]<br />
<br />
Donc Darkwood est la seule à traiter vos données pour:<br />
<br />
Contribuer à l’analyse de ses statistiques<br />
Pour le traitement de vos données, Darkwood se base légalement sur le principe du consentement. Le consentement est une des bases légales prévues par le RGPD autorisant la mise en œuvre de traitements de données à caractère personnel.<br />
<br />
Les données marquées par un astérisque dans le questionnaire doivent obligatoirement être fournies. Les autres données sont optionnelles.<br />
<br />
Les données sont conservées pendant la durée de 36 mois par Darkwood.<br />
<br />
Les données collectées seront communiquées seulement à Darkwood. Elle tient à protéger vos fichiers de données dans des disques externes protégés dans un coffre cadenassé.<br />
<br />
Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement, exercer votre droit à la limitation du traitement de vos données, exercer votre droit à la portabilité du traitement de vos données ou vous opposer au traitement de vos données tout en continuant de recevoir des infos concernant nos activités.<br />
<br />
Consultez le site <a href="https://cnil.fr">https://cnil.fr</a> pour plus d’informations sur vos droits.<br />
<br />
Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter : <a href="mailto:mathieu@darkwood.fr">mathieu@darkwood.fr</a><br />
<br />
Si vous estimez, après l’avoir contactée, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
</p>

{% endblock %}
