{% extends ""~ site_ref ~"/base.html.twig" %}

{% block content %}

<h1>{{ page.title }}</h1>

<h2>L’éditeur</h2>
<p>
Le site est édité par Mathieu Ledru<br />
Directeur de la publication : le couvé<br />
Mail : <a href="mailto:mathieu@darkwood.fr">mathieu@darkwood.fr</a><br />
Adresse : 1 bis rue René Coty 91330 Yerres<br />
Tel : 0678373234<br />
<br />
<b>« Darkwood »</b> est juridiquement hébergé par Couveuse GEAI (Groupement des Entrepreneurs Accompagnés Individuellement)<br />
18, rue du Faubourg du Temple 75011 PARIS<br />
Tel : 01 43 55 09 48<br />
SIRET : 433 545 357 00025<br />
Code APE : 9499Z<br />
N° de TVA intracommunautaire : FR 40433545357
</p>

<h2>L’hébergeur</h2>
<p>
Le site <a href="https://darkwood.fr">https://darkwood.fr</a> est hébergé par <a href="https://aws.amazon.com/fr/local/france/">Amazon Web Services</a><br />
31 place des Corolles, Tour Carpe Diem, 92400 Courbevoie, France.
</p>

{% endblock %}
