{% extends "common/base.html.twig" %}

{% block layout %}layout layout-photos{% endblock %}

{% block body %}
    <div class="container-fluid theme theme-photos">
        <div class="row theme-header">
            <div class="theme-header-logo"></div>
        </div>

        <div class="row theme-body">
            <div class="col-md-12">
                <div class="row theme-menu">
                    <div class="col-md-12 theme-menu__inner">
                        {{ render(controller('App\\Controller\\PhotosController::menu', { 'ref': page.page.ref, entity: entity | default(null) })) }}
                    </div>
                </div>

                <div class="row theme-content{% if showLinks is defined %} show_links{% endif %}">
                    <div class="col-md-12 theme-content-top">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row theme-footer">
            <div class="col-md-12">
                {%- include "photos/partials/footer.html.twig" -%}
            </div>
        </div>
    </div>
{% endblock %}
