{% extends 'darkwood/partials/play/'~ display ~'/base.html.twig' %}

{% block content %}
    <div id="play" data-play-url="{{ path('darkwood_play', {'display': display}) }}">
    {% include 'darkwood/partials/play/'~ display ~'/'~ state ~'.html.twig' %}
    </div>
{% endblock %}