<div class="form-group">
    {{ form_label(form.contents, null, { 'label_attr': { 'class': 'col-md-2 control-label' }}) }}

    <div class="col-lg-10">
        <div id="form-contents" class="row collection-list" data-prototype="{{ include('admin/app/partials/prototype/contents.html.twig', { 'form': form.contents.vars.prototype }) | e('html_attr') }}">
            {% for photo in form.contents %}
                {% include 'admin/app/partials/prototype/contents.html.twig' with { 'form': photo } %}
            {% endfor %}
            {% do form.contents.setRendered() %}
        </div>

        <div class="row">
            <div class="col-lg-offset-10 col-lg-2">
                <a href="#form-contents" class="btn btn-success collection-add">Ajouter</a>
            </div>
        </div>
    </div>
</div>
