{% extends "me/base.html.twig" %}

{% block content %}

<div class="freelance">
    <img src="{{ asset('/me/images/cv/mathieu-ledru.jpg') }}" alt="Mathieu Ledru" class="image_cv">
    <a class="download_cv" href="{{ asset('/me/images/cv/cv-mathieu-ledru.pdf') }}">Téléchargez mon CV (au format PDF)</a>
    <h2>Mathieu LEDRU</h2>

    <p><span class="fa fa-rocket"></span> French Developer <span class="fa fa-rocket"></span> and <span class="fa fa-heart"></span> Happy Hardcore lover <span class="fa fa-heart"></span></p>

    <p>
        I'm currently <b>NOT AVALAIBLE</b> for Freelancing but i'm thinking about jumping into it.<br />
        This section is dedicated for people that are willing to work hire me as freelance.<br />
        I will update this content as soon as i get more comfortable with freelancing.<br />
        If you wish to hire me as employed developer, have a look at <a href="{{ path('me_home') }}">my curriculum vitae</a><br />
        You can <a href="{{ path('freelance_contact') }}">contact me</a> for any question.
    </p>
</div>

{% endblock %}
